.main-container {
  padding: 0 30px 30px;
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: flex-start;
  gap: 40px;
  margin-left: 50px;
  padding-top: 1.5rem;
}

.company-card:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.01);
}


.filter-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 50px;
  position: sticky;
  top: 0px;
  padding-top: 1.5rem;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}


@media  screen and (max-width: 600px) {

  .companies-list {
    margin-left: 0px;
    justify-content: center;
  }

  .filter-container {
    margin-left: 0px;
    justify-content: center;
  }

}
@media  screen and (max-width: 900px) {

  .companies-list {
    margin-left: 0px;
    justify-content: space-between;
    gap: 10px;
  }

  .filter-container {
    margin-left: 0px;
  
  }

}
@media  screen and (max-width: 1200px) {

  .companies-list {
    margin-left: 0px;
    justify-content: space-between;
    gap: 10px;
  }

  .filter-container {
    margin-left: 0px;

  }

}