.main-container {
  padding: 0 30px 30px;
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: flex-start;
  gap: 40px;
  margin-left: 50px;
  padding-top: 1.5rem;
}

.company-card:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.01);
}


